.header {
  display: flex;
  height: $size * 48;
  background-color: $white-color;
  border-bottom: $size * 1 solid $border-color;
  align-items: center;
  -webkit-app-region: drag;

  .header-inner {
    width: 0;
    flex: 1;
  }

  .icon {
    margin: 0 $size * 10;
    cursor: pointer;
    -webkit-app-region: no-drag;
  }
}